.my-nav-container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.landingNav {
  overflow: hidden;
  padding: 0;
  padding-top: .5rem;
  padding-bottom: 2px;
  width: 90%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
} 

.nv-btn {
  
}

.dashboard-nav ul {
  padding-bottom: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  
}
.startBtn {
  padding: 8px 18px;
  background-color: #FFB703;
  border: #FFB703;
  border-radius: 8px;
  color: #fff;
  margin-left: auto;
  float: right;
  transition: all .2s ease-in;
}
.startBtn:hover {
  background-color: #f4b004;
  transform:translateY(-3px);
  box-shadow: 2px 2px #888;
}
.startBtn:active {
  background-color: #f4b004;
}

.dashboard-nav {
  overflow: hidden;
  padding: 0;
  padding-top: .5rem;
  padding-bottom: 2px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: 25px;
}

.nav-left {
  float: left;
}
.nav-right {
  float: right;
  margin-right: 3rem;
  font-size: 18px;
  text-align: center;
  margin-top: .2rem;
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 10;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
}

.inner-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
}

button.toggle {
  background-color: #ffb703;
  z-index: 11;
  position: fixed;
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 2rem;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.landingNav {
  
}

.landingNav ul {
  display: flex;
  align-items: center;
}

.landingNav li {
  list-style: none;
}

nav .inner-nav ul {
  padding: 0;
  position: relative;
  top: 100px;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2)
}

nav .inner-nav li {
  list-style: none;
  cursor: pointer;
  line-height: 3;
  padding: 0 25px;
  text-align: start;
}

nav .inner-nav a {
  font-size: x-large;
  text-decoration: none;
  transition: .4s all ease-in-out;
  color: #303030;
  padding: 1rem;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

nav .inner-nav a:hover {
  background-color: #f4b004;
  color: #fff !important;
  transition: .3s ease-in-out;
}


/* nav ul {
  max-width: 90%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  
}
nav span {
  margin-left: 80%;
  
}

nav ul li {

  font-size: 25px;
  padding: 0;
  margin: 0;
} */

