.landingNav {
  overflow: hidden;
  padding: 0;
  padding-top: .5rem;
  padding-bottom: 2px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
} 

.dashboard-nav ul {
  padding-bottom: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}
.startBtn {
  padding: 8px 18px;
  background-color: #FFB703;
  border: #FFB703;
  border-radius: 8px;
  color: #fff;
  margin-left: auto;
  float: right;
  transition: all .2s ease-in;
}
.startBtn:hover {
  background-color: #f4b004;
  transform:translateY(-3px);
  box-shadow: 2px 2px #888;
}
.startBtn:active {
  background-color: #f4b004;
}

.dashboard-nav {
  overflow: hidden;
  padding: 0;
  padding-top: .5rem;
  padding-bottom: 2px;
  box-shadow: 1px 1px 20px rgba(0,0,0,.1);
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: 25px;
}

.nav-left {
  float: left;
}
.nav-right {
  float: right;
  margin-right: 3rem;
  font-size: 18px;
  text-align: center;
  margin-top: .2rem;
}

nav ul {
  max-width: 90%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  
}
nav span {
  margin-left: 80%;
  
}

nav ul li {

  font-size: 25px;
  padding: 0;
  margin: 0;
}

