.lr-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px 18px;
  background-color: #FFB703;
  border: #FFB703;
  border-radius: 8px;
  color: #fff;
  width: 40%;
  transition: all .2s ease-in;
  box-shadow: 3px 3px #888;
}
.lr-btn:hover {
  background-color: #FFB703;
  transform:translateY(-3px);
  box-shadow: 8px 8px #888;
}
.lr-btn:active {
  background-color: #f4b004;
}
.lr-btn:active:focus {
  background-color: #f4b004;
}

.nv-btn {
  float:right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 8px 18px;
  background-color: #FFB703;
  border: #FFB703;
  border-radius: 8px;
  color: #fff;
  margin-right: 1rem;
  transition: all .2s ease-in;
  box-shadow: 3px 3px #888;
}
.nv-btn:hover {
  background-color: #FFB703;
  transform:translateY(-3px);
  box-shadow: 8px 8px #888;
}
.nv-btn:active:focus {
  background-color: #f4b004;
}
.cancel-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px 18px;
  background-color: #888;
  border: #888;
  border-radius: 8px;
  color: #fff;
  width: 40%;
  transition: all .2s ease-in;
  box-shadow: 3px 3px #FFB703;
}
.cancel-btn:hover {
  background-color: #888;
  transform:translateY(-3px);
  box-shadow: 8px 8px #FFB703;
}
.cancel-btn:active:focus {
  background-color: #888;
}

.submit-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px 18px;
  background-color: #FFB703;
  border: #FFB703;
  border-radius: 8px;
  color: #fff;
  width: 40%;
  transition: all .2s ease-in;
  box-shadow: 3px 3px #888;
}
.submit-btn:hover {
  background-color: #f4b004;
  transform:translateY(-3px);
  box-shadow: 8px 8px #888;
}
.submit-btn:active:focus {
  background-color: #f4b004;
}

@media screen and (max-width: 950px) {
  .lr-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}