.lab-container {
  max-width: 1200px;
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-inline: auto; 
}

.list-labs {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}

.lab-grid-item {
  margin-bottom: 1rem;

  
}