.register-container {
  font-weight: 200;
  justify-content: center;
  display: grid;
  grid-template-columns: 40%;
  margin-top: 4rem;
  position: relative;
}
.register-container h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 200;
}

.loading-on {
  position: absolute;
  top: 2.5rem;
  left: 58%;
}
.loading-off {
  display: none;
}

@media screen and (max-width: 950px) {
  .register-container {
    grid-template-columns: 90%;
  }
  .register-container h1 {
    font-size: 4rem;
  }
}