.back-icon {
  margin-right: 1rem;
  height: 25px;
  color:#303030;
  
}
.back-icon:hover {
  cursor: pointer;
}
.filter-container {
  display: flex;
  justify-content: end;

}
.task-container {
  max-width: 1200px;
  display: block;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.task-c-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: baseline;
  margin-bottom: 2rem;
}
.task-c-1 > p {
  margin-left: 1rem;
}
.task-c-2 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  height: 575px;
  overflow-y: scroll;
  column-gap: 2rem;
  justify-content: center;
  background-color: #DBE4E9;
  border-radius: 20px;
  padding-top: 1rem;
}
.task-c-2::-webkit-scrollbar {
  width: 8px;
}
.task-c-2::-webkit-scrollbar-track {
  display: none;
}
.task-c-2::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
.task-c-2::-webkit-scrollbar-thumb:hover {
  background: #ffb703;
}
.task-c-2::-webkit-scrollbar-button {
  cursor: pointer;
}
.card-divider {
  width: 100%;
  height: 1px;
  background-color: #303030;
}
.task-card-img {
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 1rem;
}
.task-card {
  transition: .2s;
  box-shadow: 6px 6px #888;
  border-radius: 10px;
  border: .5px #303030 solid;
  width: 100%;
  
  background-color: #fdfcf9;
  margin: 0;
  padding: 0;
}
.task-card:hover {
  transform:translateY(-6px);
  box-shadow: 12px 12px #888;
  
}
#add-task-card {
  order: -1;
}
.incomplete {
  background-color: red;
  width: 15px;
  height: 15px;
  border: #303030;
  margin-left: 1rem;
  border-radius: 50%;
}
.complete {
  background-color: green;
  width: 15px;
  height: 15px;
  border: #303030;
  margin-left: 1rem;
  border-radius: 50%;
}
.task-card-title {
  padding: 0;
  color: #fff;
  font-weight: 400;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-left: 1rem;
  font-size: x-large;
  
  
}
.task-card-icon {
  background-color: rgba(180,180,180,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 1rem;
  transition: .2s;
  margin-top: .8rem;
}
.task-card-icon:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px rgba(0, 0, 0, .4);
  cursor: pointer;
}
.task-card-bio {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: #303030;
  
  text-align: start;
  
  position: relative;
}
.task-card-info {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.task-card-status {
  display: flex;
  align-items: baseline;
  float: left;
}

.task-card-assignment {
  display: flex;
  position: relative;
}
.assigned-to {
  margin-top: 3px;
  margin-left: 8px;
}
.task-toolbar {
  margin-bottom: 1rem;
}

.task-card-footer {
  display: grid;
  grid-template-columns: 85% 15%;
}

.directory-container {
  display: flex;
  float: left;
}

@media screen and (max-width: 1030px) {
  .task-container {
    display: block;
    width: 90%;
  }
  .directory-container {
    display: block;
  }
  .task-c-1 {
    display: block;
  }
  .filter-container {
    display: block;
    width: 30%;
    text-align: start;
  }
  .task-c-2 {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .task-card {
    width: 90%;
    margin: 0 auto;
  }
}