.user-settings-container {
  max-width: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.my-btn-group {
  margin-top: 1.5rem;
  position: relative;
  
}

.dots-container {
  margin-top: 2rem;
  position: absolute;
  top: 0;
  right: 400px;
}
/*
  need to change dots container , doesnt resize right
*/