.settings-header {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 2rem;
}
.settings-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  
}

.about-info {
  display: flex;
}
.about-info > p {
  margin-left: 1rem;
}
.user-settings-container {
  max-width: 100%;
  /* background-color: green; */
}
.div-divider {
  width: 100%;
  height: 1px;
  background: black;
}
.my-btn-group {
  margin-top: 1.5rem;
  
  
}
.dots-container {
  margin-top: 2rem;
  
  top: 0;
  right: 400px;
}

.about-container {
  margin-bottom: 2rem;
}

.nav-settings {
  /* background-color: blue; */
  width: 100%;
  
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: #FFB703 !important;
}

.nav-link {
  color: #FFB703 !important;
}

.pill:active {
  background-color: #FFB703 !important;
}

.pill:focus {
  background-color: #FFB703 !important;
}

.pill::before {
  background-color: #FFB703 !important;
}

/*
  need to change dots container , doesnt resize right
*/

@media screen and (max-width: 1030px) {
  
}